html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    font-size: 16px;
}

h3{
 color: #fff;
 font-size: 30px;
 font-weight: 500;
}

/* header */
.header {
    padding: 20px;
}

.container {
    max-width: 940px;
    margin: 0 auto;
}

.nav-pills {
    float: left;
    width: 100%;
}



.nav-pills li .active a {
    background-color: #d8192f;
    color: #fff;
}

.next a{
color: #d8192f;
background-color: #fff;
border: 1px solid #d8192f;
}

.header-nav > li.active a{
   background-color: #d8192f;
}

.header-nav > li.active a:hover{
background-color: #d8192f;
}

.header-nav li a:hover{
color: #fff;
background-color: #d8192f;

}

/* jumbotron */
.jumbotron {
    background: url("https://s3.amazonaws.com/codecademy-content/projects/bestbite/bg.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
    padding-top: 25px;
    margin-bottom: 0;
}

.jumbotron h2:first-child {
    margin: 100px 0 0;
}
.jumbotron h2 {
    color: #fff;
    font-size: 60px;
    text-align: right;
    width: 100%;
}

/* section banner */
.section {
    text-align: center;
    padding-top: 40px;
}
.banner {
    background-color: #36343f;
    height: 180px;
}

.banner a {
  color: #fff;
}


.col-md-12 .btn{
    background-color: rgba(216,25,47,.5);
    color: #fff;
    margin-top: 10px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.col-md-12 .btn:hover{
    background-color: #d8192f;
}

.section .col-md-12 h3{
  font-size:  30px;
}

/* section page-header */
.solid {
    padding-bottom: 20px;
    margin: 0 0 20px;
}

.page-header .col-md-12 h3{
  color: #000;
}

.col-md-4 ul {
list-style-type: none;
}

.col-md-4 h4 {
  color: #d8192f;
  margin: 30px 0 20px;
  padding: 0;
  font-size: 20px;
}

/* footer */
.footer {
    height: 100px;
    padding: 40px 0px 100px;
    margin-top: 80px;
    background-color: #eee;
    font-size: 14px;
}

p {
    margin: 0 0 10px;
}

.footer p {
    float: left;
    width: 33%;
}

.footer p a{
color: #d8192f;
}
