
table, th{
  font-size: 18px;
}
table {
  height: 50%;
  margin: 10px auto;
  width: 100%;
}
tr {
  background: #ccc;
}

th, td {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  width: 33.3333%;
}
th {
  background: #f78656;
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
}
