$bianco: #ffffff;
$nero: #181818;
$grigio: #7d7d7d;
$grigio-chiaro: #525252;
$grigio-scuro: #333333;
$spazio-linea: 16px;
$font-base: 12px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$colore-testo: $grigio-chiaro;
$verde-trasparente: rgba(48, 160, 46, 0.8);
$header-altezza: 50px;
