html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.header{
    background-color: #30627E;
}

.header ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header li{
    color: #fff;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding: 20px 30px;
    margin: 0;
}
.jumbotron{
  background: url("https://s3.amazonaws.com/codecademy-content/projects/adoptly/bg.jpg") no-repeat center center;
  background-size: cover;
    height: 500px;
    text-align: center;
    margin-bottom: 0;
}

.container h1{
  color: #e52364;
  font-weight: 700;
  font-size: 62px;
}

.supporting{
    text-align: center;
    padding: 60px 30px 80px;
}

.supporting .col-md-4 .btn{
  	font-size: 16px;
    border-radius: 0px;
    margin: 20px auto 60px;
    padding: 10px 20px;
    color: #30627E;
    width: 200px;
    border: 1px solid #30627E;
    text-transform: uppercase;
}

.supporting .col-md-4 .btn:hover{
  color: #000;
  font-weight: bold;
}

.footer {
    color: #fff;
    background-color: #e52364;
    padding: 20px;
}

 #main{
  font-size: 28px;
  background-color: #e52364;
}


.navigazione-footer{
list-style-type: none;
float: right;
display: inline-block;
}

.navigazione-footer li a{
color: #fff;
position: relative;
display: block;
padding: 10px 15px;
}

.footer .col-md-10 ul li a:hover{
    text-decoration: none;
    background-color: #eee;
    border-radius: 5px;
}
