.header {
  @extend %full-width;
  height: $header-altezza;
  background: $verde-trasparente;
  position: fixed;
  .header-col{
    height: $header-altezza;

    .logo{
      padding: 15px 0px;
      }
   }
 }
