h1 {
  @include titolo (36px, $nero);
}

h2 {
  @include titolo (20px, $grigio);
}


p {
  margin: 0 0 15px 0;
  font-size: 12px;
  color: $grigio-chiaro;
}

b {
  font-weight: bold;
  color: $grigio-scuro;
}

a {
  color: $grigio-chiaro;
  text-decoration: none;
}
